.card {
    background-color: white;
    border-radius: 0 !important;
    margin-bottom: 5px;
    box-shadow: none !important;
}

.card:hover {
    box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.66) !important;
    background-color: rgb(248, 248, 248)
}

.card-image {
    position: relative;
    margin-left: auto;
    min-height: 120px;
    min-width: 160px;
}

.playlist-background {
    position: absolute;
    height: 100%;
    width: 40%;
    right: 0;
    opacity: 0.7;
    background-color: black;
}

.label {
    position: absolute;
    font-size: 17px;
    top: 50%;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 630px) {
    .playlist-background {
        width: 50%;
    }

    .label {
        font-size: 12px;
    }
}