body {
  background-color: whitesmoke !important;
}

.card {
  width: 40%;
  max-width: 40%;
  background-color: white;
  border-radius: 0%;
}

.card:hover {
  box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.66);
  background-color: rgb(248, 248, 248)
}

.card-image {
  height: auto;
  width: auto;
}

.videos-list {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.body {
  margin-top: 70px;
  margin-bottom: 130px;
}

.input-background-wrapper {
  display: flex;
  justify-content: center;
}

.input-background {
  background-image: linear-gradient(to right,#ff8a00,#da1b60);
  z-index: 5;
  position: fixed;
  top: 10px; 
  text-align: center;
  height: 60px;
  width: 50%;
  border-radius: 100px;
}

.input {
  color: white;
  width: 60%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(202, 202, 202) !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
} 

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;;
 }



.next-prev-buttons {
  display: flex;
  justify-content: center;
}

.next-prev-button {
  font-size: 20px;
  height: 50px;
  width: 50px;
  border-radius: 0%;
  margin: 5px !important;
}

@media screen and (max-width: 630px) {
  .videos-list {
    padding-bottom: 5px;
  }

  .card {
    width: 100%;
    max-width: 100%;
  }

  .input-background {
    width: 80%;
  }

}

