<!--The content below is only a placeholder and can be replaced.-->

  <div class="input-div">
    <mat-form-field class="input">
      <input matInput placeholder="Search" value="Video.." [ngModelOptions]="{standalone: true}" [(ngModel)]="url" (keydown)="keyDownFunction($event)">
    </mat-form-field>
  </div>

  <div style="padding-top: 100px;">
    <mat-form-field class="input">
      <input matInput placeholder="Search" value="Video.." [ngModelOptions]="{standalone: true}" [(ngModel)]="playlistSearch" (keydown)="keyDownFunctionn($event)">
    </mat-form-field>
  </div>

  <div class="videos-list" *ngFor="let video of videoList">
    <mat-card [ngClass]="{'card': true, 'card-clicked': isClickInProgress}" *ngIf="video.id.kind == 'youtube#video'" style="max-width: 30%" (click)="isClickInProgress ? false : onVideoClick(video)">
      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile colspan="2">
            <p>
              {{video.snippet.title}}
            </p>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <img [src]="video.snippet.thumbnails.default.url" alt="thumbnail" style="height: 100px; width: auto;">
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>

<div class="asd">
  <div class="audio-player">
      <button class="audio-buttons" mat-raised-button ><fa-icon [icon]="['fas', 'step-backward']"></fa-icon></button>
      <button *ngIf="!playing" class="audio-buttons" mat-raised-button (click)="play()"><fa-icon [icon]="['fas', 'play']"></fa-icon></button>
      <button *ngIf="playing" class="audio-buttons" mat-raised-button (click)="pause()"><fa-icon [icon]="['fas', 'pause']"></fa-icon></button>
      <button class="audio-buttons" mat-raised-button ><fa-icon [icon]="['fas', 'step-forward']"></fa-icon></button>

      <mat-slider class="seek-slider" [disabled]="sliderDisabled" [(ngModel)]="durationValue" min="0" [max]="songDuration" (change)="onReleaseClick()" (input)="onClick()" [thumbLabel]="showThumbLabel" [displayWith]="formatLabel"></mat-slider>
      <span class="song-duration">{{formattedValue}} / {{songDurationFormatted}}</span>
      <mat-slider class="volume-slider" [disabled]="sliderDisabled" vertical [(ngModel)]="volumeValue" min="0" max="100" (change)="onVolumeReleaseClick()" (input)="onVolumeClick()" [thumbLabel]="showThumbLabelVolume" [displayWith]="volumeLabel" ></mat-slider>
  </div>
</div>

<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
  <p style="color: white">Loading Song...</p>
</ngx-spinner>

<router-outlet></router-outlet>
