.card {
  max-width: 40%;
  text-align: center;
  left: 30%;
  background-color: white;
}

.card-image {
  height: auto;
  width: auto;
}

.videos-list {
  margin: auto;
  padding-bottom: 10px;
}

.body {
  margin-top: 70px;
  margin-bottom: 130px;
}

.input-div {
  background-color: whitesmoke;
  z-index: 5;
  position: fixed;
  top: 0; 
  right: 0;
  left: 0;
  height: 60px;
}

.input {
  width: 40%;
  position: absolute;
  left: 30%;
}

@media screen and (max-width: 630px) {
  .videos-list {
    margin: auto;
    padding-bottom: 5px;
  }

  .card {
    max-width: 80% !important;
    left: 6% !important;
    text-align: center;
  }
}

